# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
apps/frontend/node_modules
apps/frontend/.pnp
apps/frontend/.pnp.js

# testing
apps/frontend/coverage

# next.js
apps/frontend/.next/
apps/frontend/out/

# production
apps/frontend/build

# misc
apps/frontend/.DS_Store
apps/frontend/*.pem

apps/frontend/public/sw*
apps/frontend/public/swe-worker*

# debug
apps/frontend/npm-debug.log*
apps/frontend/yarn-debug.log*
apps/frontend/yarn-error.log*

# local env files
.env*.local

# typescript
apps/frontend/*.tsbuildinfo
apps/frontend/next-env.d.ts

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
apps/backend/*.exe
apps/backend/*.exe~
apps/backend/*.dll
apps/backend/*.so
apps/backend/*.dylib
apps/backend/*.sql

# Test binary, built with `go test -c`
apps/backend/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
apps/backend/*.out

# Dependency directories (remove the comment below to include it)
apps/backend/vendor/

# Go workspace file
apps/backend/go.work

apps/backend/.envrc
apps/backend/alertflow-backend

apps/backend/config.yaml